[Unit]
Description=IPFS daemon
After=network.target

[Service]
Environment=IPFS_PATH=/home/admin/.ipfs/
User=admin
Group=users
ExecStart=/opt/ipfs/ipfs daemon
Restart=on-failure

[Install]
WantedBy=default.target